{% extends 'base.html' %}

{% block title %} Choose PC to show {% endblock %}

{% block content %}

    <div class="choose-pc">
        <form method="post">

            {% csrf_token %}

            <div class="user">
                {{ user }}
            </div>

            {% for field in form %}
                <div class="form-field">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">
                            {{ field.errors|join:", " }}
                        </div>
                    {% endif %}
                    <br>
                </div>
            {% endfor %}

            <a href="{% url 'profile' request.user.username %}" class="link-back">Back</a>
            <button class="link-edit" type="submit">Done</button>

        </form>
    </div>

{% endblock %}
