{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        <h1 class="home-title">Login to create and display your computer</h1>
    {% endif %}

    {% if show_pc %}
        <div class="show-pc">
            {% for pc in show_pc %}
                <div class="pc">

                    <div class="pc-text">
                        <p>PC by <a href="{% url 'profile' pc.user %}" class="username-link"> <span
                                class="username">  {{ pc.user }} </span> </a></p>
                        <p>CPU: {{ pc.choose_cpu }}</p>
                        <p>GPU: {{ pc.choose_gpu }}</p>
                        <p>RAM: {{ pc.choose_ram }}</p>
                        <p>Storage: {{ pc.choose_storage }}</p>
                        <p>Motherboard: {{ pc.choose_motherboards }}</p>
                        {#                        <p>Likes: {{ pc.likes.count }}</p>#}
                        <p>Likes: <span id="likes-count-{{ pc.id }}">{{ pc.likes.count }}</span></p>
                    </div>

                    {% if user.is_authenticated %}
                        {% if user != pc.user %}
                            <button class="like-button" data-pc-id="{{ pc.id }}" onclick="toggleLike({{ pc.id }})">
                                {% if user in pc.likes.all %}
                                    <img src="{% static 'images/like.png' %}" alt="">
                                {% else %}
                                    <img src="{% static 'images/unlike.png' %}" alt="">
                                {% endif %}
                            </button>
                        {% endif %}
                    {% else %}
                        <p class="pc-text">Login to like</p>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="not-chosen-components">
            <h4>Already built PCs will appear here</h4>
        </div>
    {% endif %}

    <script>
        function toggleLike(pc_id) {
            const likeButton = document.querySelector(`[data-pc-id="${pc_id}"]`);
            const likesCount = document.querySelector(`#likes-count-${pc_id}`);

            fetch(`/like_pc/${pc_id}/`, {method: 'POST', headers: {'X-CSRFToken': '{{ csrf_token }}'}})
                .then(response => response.json())
                .then(data => {
                    likeButton.innerHTML = data.liked ? '<img src="{% static "images/like.png" %}" alt="Unlike">' : '<img src="{% static "images/unlike.png" %}" alt="Like">';
                    likesCount.innerHTML = data.likes_count;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>



{% endblock %}



