{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        Username: {{ user.username }}
    {% else %}
        You are not logged
    {% endif %}

    {% for cpu in cpus %}
        <p>
            {% if cpu.chosen_cpu %}
                {{ cpu.chosen_cpu.name }}
            {% else %}
                {{ cpu.build_custom_cpu.name }}
            {% endif %}
            <a href="{% url 'delete_cpu' cpu.pk %}">Delete</a>
        </p>
    {% endfor %}



{% endblock %}