{% extends 'base.html' %}

{% block title %} Selected PCs {% endblock %}

{% block content %}

    <a href="{% url 'profile' request.user.username %}" class="link-back">Back</a>

    {% if selected_pcs %}
        <div class="show-pc-text">
            <h2>Тhe displayed PCs from <span class="username">{{ user.username }}</span></h2>
        </div>

        <div class="pc-show">
            {% for selected_pc in selected_pcs %}
                <div class="pc-show-box">
                    <p>CPU: {{ selected_pc.choose_cpu }}</p>
                    <p>GPU: {{ selected_pc.choose_gpu }}</p>
                    <p>RAM: {{ selected_pc.choose_ram }}</p>
                    <p>Motherboard: {{ selected_pc.choose_motherboards }}</p>
                    <p>Storage: {{ selected_pc.choose_storage }}</p>
                    <p>Likes: {{ selected_pc.likes.count }}</p>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="selected_pc_id" value="{{ selected_pc.id }}">
                        <input type="submit" class="link-delete" value="Delete">
                    </form>

                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="selected-pc">
            <p>No PC selected.</p>

            <a class="choose-pc-button" href="{% url 'choose_pc' request.user.username %}">Choose PC</a>
        </div>
    {% endif %}

{% endblock %}
