{% extends 'common/../base.html' %}

{% block content %}

    <section class="profile-css">
        <h1>Update Username</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form">
                {{ form.username }}
            </div>

            <div class="buttons">
                <a href="{% url 'profile' %}">Back</a>
                <button type="submit">Update</button>
            </div>

            {% if form.errors %}
                <div class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

        </form>

    </section>

{% endblock %}
