{% extends 'common/../base.html' %}

{% block content %}

    <section class="profile-css">
        <h1>Change Password</h1>

        <form method="post">
            {% csrf_token %}

            <div class="form">
                {{ form.old_password }}
            </div>

            <div class="form">
                {{ form.new_password1 }}
            </div>

            <div class="form">
                {{ form.new_password2 }}
            </div>

            <div class="buttons">
                <a href="{% url 'profile' slug=user.extended_user.slug %}">Back</a>
                <button type="submit">Update</button>
            </div>

            {% if form.errors %}
                <div class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

        </form>
    </section>

{% endblock %}
