{% extends 'common/../base.html' %}
{% block title %} Delete profile {% endblock %}


{% block content %}

    <section class="profile-css">
        <h1>Confirm Account Deletion</h1>
        <h3>Are you sure you want to delete your account ?</h3>

        <form method="post">
            {% csrf_token %}

            <div class="buttons">
                <a href="{% url 'profile' user.username %}">Cancel</a>
                <button class="delete-acc" type="submit">Delete</button>
            </div>
        </form>

    </section>

{% endblock %}
