{% extends 'common/../base.html' %}

{% block body_class %}
    accounts
{% endblock %}

{% block content %}

    <section class="auth">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}

            <div>
                {{ form.username }}
            </div>
            <div>
                {{ form.password }}
            </div>

            <button type="submit">Login</button>

            {% for error in form.non_field_errors %}
                <div class="errorlist">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}


        </form>
    </section>

    <section class="auth">

        <h3>Don't have an account? <a href="{% url 'register' %}">Register</a></h3>

    </section>

{% endblock %}
