{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

    {% if request.user.username == user.username %}
        <div class="profile-start">
            <h1>Hello, {{ user.username }}</h1>
        </div>
    {% endif %}

    {% if cpus and gpus and rams and storages and motherboards and request.user.username == user.username %}
        <div class="choose-pc-to-show">
            <a href="{% url 'choose_pc' request.user.username %}">Select PC to show</a>
            <a href="{% url 'selected_pc' request.user.username %}">Selected PCs</a>
        </div>
    {% else %}

        {% if request.user.username == user.username %}
            <div class="not-chosen-components">
                <h2>You must have at least one of each component to be able to display it</h2>
            </div>
        {% endif %}

    {% endif %}

    {% if cpus or gpus or rams or storages or motherboards %}
        <div class="components-section">
            <div class="section">
                <p class="section-title">CPUs</p>
                <div class="data-list">
                    {% if cpus %}
                        {% for cpu in cpus %}
                            <p class="data">
                                {% if cpu.chosen_cpu %}
                                    {{ cpu.chosen_cpu.brand }} {{ cpu.chosen_cpu.name }}
                                {% else %}
                                    {{ cpu.build_custom_cpu.manufacturer }} {{ cpu.build_custom_cpu.name }}
                                {% endif %}

                                {% if request.user.username == user.username %}
                                    <a href="{% url 'detail_cpu' cpu.pk %}" class="link-style">Details</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}

                        {% if request.user.username == user.username %}
                            <div class="not-selected">
                                <h3>Choose at least one</h3>
                                <a href="{% url 'choose_cpu' %}">choose</a>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>

            <div class="section">
                <p class="section-title">GPUs</p>
                <div class="data-list">
                    {% if gpus %}
                        {% for gpu in gpus %}
                            <p class="data">
                                {% if gpu.chosen_gpu %}
                                    {{ gpu.chosen_gpu.name }}
                                {% endif %}

                                {% if request.user.username == user.username %}
                                    <a href="{% url 'detail_gpu' gpu.pk %}" class="link-style">Details</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}

                        {% if request.user.username == user.username %}
                            <div class="not-selected">
                                <h3>Choose at least one</h3>
                                <a href="{% url 'choose_gpu' %}">choose</a>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>

            <div class="section">
                <p class="section-title">RAM</p>
                <div class="data-list">
                    {% if rams %}
                        {% for ram in rams %}
                            <p class="data">
                                {% if ram %}
                                    {{ ram.brand }} {{ ram.capacity }}GB {{ ram.memory_type }}
                                {% endif %}

                                {% if request.user.username == user.username %}
                                    <a href="{% url 'detail_ram' ram.pk %}" class="link-style">Details</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}


                        {% if request.user.username == user.username %}
                            <div class="not-selected">
                                <h3>Choose at least one</h3>
                                <a href="{% url 'choose_ram' %}">choose</a>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>

            <div class="section">
                <p class="section-title">Motherboards</p>
                <div class="data-list">
                    {% if motherboards %}
                        {% for motherboard in motherboards %}
                            <p class="data">
                                {% if motherboard %}
                                    {{ motherboard.manufacturer }} {{ motherboard.model }}
                                {% endif %}

                                {% if request.user.username == user.username %}
                                    <a href="{% url 'detail_motherboard' motherboard.pk %}"
                                       class="link-style">Details</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}

                        {% if request.user.username == user.username %}
                            <div class="not-selected">
                                <h3>Choose at least one</h3>
                                <a href="{% url 'create_motherboard' %}">choose</a>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>

            <div class="section">
                <p class="section-title">Storage</p>
                <div class="data-list">
                    {% if storages %}
                        {% for storage in storages %}
                            <p class="data">
                                {% if storage %}
                                    {{ storage.brand }} {{ storage.type }} {{ storage.capacity }}GB
                                {% endif %}

                                {% if request.user.username == user.username %}
                                    <a href="{% url 'detail_storage' storage.pk %}" class="link-style">Details</a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}
                        {% if request.user.username == user.username %}
                            <div class="not-selected">
                                <h3>Choose at least one</h3>
                                <a href="{% url 'choose_storage' %}">choose</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
    {% endif %}

    {% if request.user.username == user.username %}
        <div class="profile-details">
            <a href="{% url 'profile_username_change_view' request.user.username %}" class="button">Change username</a>
            <a href="{% url 'profile_change_password' request.user.username %}" class="button">Change password</a>
            <a href="{% url 'profile_delete' request.user.username %}" class="button" style="background-color: darkred">Delete
                profile</a>
        </div>
    {% endif %}

{% endblock %}
