{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

    <h1>Profile view</h1>

    {% if request.user.username == user.username %}
        <div class="profile-details">
            <a href="{% url 'profile_delete' request.user.username %}" class="button">delete</a>
            <a href="{% url 'profile_username_change_view' request.user.username %}" class="button">change username</a>
            <a href="{% url 'profile_change_password' request.user.username %}" class="button">change password</a>
        </div>
    {% endif %}

    <div class="profile-details">
        <p>CPUs</p>
        {% for cpu in cpus %}
            <p class="data">
                {% if cpu.chosen_cpu %}
                    {{ cpu.chosen_cpu.name }}
                {% else %}
                    {{ cpu.build_custom_cpu.name }}
                {% endif %}

                {% if request.user.username == user.username %}
                    <a href="{% url 'detail_cpu' cpu.pk %}">Details</a>
                {% endif %}
            </p>
        {% endfor %}

        <p>GPUs</p>
        {% for gpu in gpus %}
            <p class="data">
            {% if gpu.chosen_gpu %}
                {{ gpu.chosen_gpu.name }}
            {% endif %}

            {% if request.user.username == user.username %}
                <a href="{% url 'detail_gpu' gpu.pk %}">Details</a>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}
