{% extends 'base.html' %}

{% block title %} GPU Delete {% endblock %}

{% block content %}

    <section class="components-details">

        <h3>Are you sure you want to delete GPU
            <span class="highlight-component">
                  {{ chosengpus.chosen_gpu.manufacturer }} {{ chosengpus.chosen_gpu.name }}
                {% if  chosengpus.chosen_gpu.memory_size > 1 %} {{ chosengpus.chosen_gpu.memory_size|floatformat:0 }}GB
                {% else %}
                    {{ chosengpus.chosen_gpu.memory_size }}GB
                {% endif %}
            </span>
            ?
        </h3>

        <form method="post">

            {% csrf_token %}
            {{ form }}

            <a href="{% url 'detail_gpu' pk=object.pk %}" class="link-back">Back</a>
            <input type="submit" class="link-delete" value="Delete">

        </form>

    </section>
{% endblock %}