{% extends 'base.html' %}

{% block title %} Storage Delete {% endblock %}

{% block content %}

    <section class="components-details">

        <h3>Are you sure you want to delete
            {{ storage.type }}
            <sapn class="highlight-component">
                {{ storage.brand }} {{ storage.capacity }}GB
            </sapn>
            ?
        </h3>

        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'detail_storage' pk=object.pk %}" class="link-back">Back</a>
            <input type="submit" value="Delete" class="link-delete">

        </form>

    </section>

{% endblock %}