{% extends 'base.html' %}

{% block title %} Delete Motherboard {% endblock %}

{% block content %}

    <section class="components-details">

        <h3>Are you sure you want to delete Motherboard
            <span class="highlight-component">
                {{ motherboard.manufacturer }} {{ motherboard.model }}
            </span>
            ?
        </h3>

        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <a href="{% url 'detail_motherboard' pk=object.pk %}" class="link-back">Back</a>
            <input type="submit" value="Delete" class="link-delete">

        </form>

    </section>

{% endblock %}

