{% extends 'base.html' %}

{% block title %} Edit Motherboard {% endblock %}

{% block content %}

    <section class="components-details">

        <h1>Edit Motherboard</h1>

        <div class="motherboard-choose">
            <div class="motherboard-form">

                <form method="post">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <a href="{% url 'detail_motherboard' pk=object.pk %}" class="link-back">Back</a>
                    <input type="submit" value="Edit">

                </form>

            </div>
        </div>

    </section>

{% endblock %}