{% extends 'base.html' %}
{% load static %}

{% block title %} CPU {% endblock %}

{% block content %}

    <section class="cpus">
        <div class="cpus-logo">
            <div class="logo-item">
                <img src="{% static 'images/cpu/intel_logo.png' %}" alt="logo">
                <div class="text">
                    <p>Core i9-13900KS</p>
                    <p>Xeon W-1290</p>
                    <p>Core i7-13700K</p>
                </div>
            </div>
            <div class="logo-item">
                <img src="{% static 'images/cpu/amd_logo.png' %}" alt="">
                <div class="text">
                    <p>Ryzen Threadripper 3990X</p>
                    <p>Ryzen 9 7950X3D</p>
                    <p>EPYC™ 9754</p>
                </div>
            </div>

        </div>

        <div class="cpus-content">

            <h4> Discover the perfect CPU for your needs on this page.</h4>
            <h4> You can choose a CPU from a wide selection of options.</h4>
            <h4> Including the ability to create a custom one.</h4>


            <div class="cpu-buttons">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'choose_cpu' %}">Choose CPU</a>
                    <a href="{% url 'build_cpu' %}">Build custom CPU</a>
                {% else %}
                    <p>Login to add CPU!</p>
                {% endif %}
            </div>
        </div>

        <div class="cpus-image">
            <img src="{% static 'images/cpu/cpus.jpg' %}" alt="cpus">
        </div>

    </section>

{% endblock %}
