{% extends 'base.html' %}

{% block title %} Custom CPU Build {% endblock %}

{% block content %}

    <section class="cpus">
        <div class="cpus-form">
            <form method="post">

                {% csrf_token %}
                {#                {{ form.as_p }}#}
                {% for field in form %}
                    <div class="form-field{% if field.errors %} has-error{% elif field.value %} has-success{% endif %}">
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">
                                {{ field.errors|join:", " }}
                            </div>
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}

                <a href="{% url 'home_cpu' %}">Back</a>
                <button type="submit">Create</button>

            </form>
        </div>
    </section>

{% endblock %}