{% extends 'base.html' %}
{% load static %}

{% block title %} Choose RAM {% endblock %}

{% block content %}

    <section class="ram">
        <div class="ram-form">
            <form method="post">

                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field{% if field.errors %} has-error{% elif field.value %} has-success{% endif %}">
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">
                                {{ field.errors|join:", " }}
                            </div>
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}

                <a class="button-back" href="{% url 'home_ram' %}">Back</a>
                <button type="submit">Done</button>

            </form>
        </div>
    </section>

    <script src="{% static 'js/update_ram_speed.js' %}"></script>

{% endblock %}