{% extends 'base.html' %}
{% load static %}

{% block title %} Choose RAM {% endblock %}

{% block content %}

    <section class="ram">
        <div class="ram-form">
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <a href="{% url 'home_ram' %}">Back</a>
                <button type="submit">Done</button>

            </form>
        </div>
    </section>

    <script src="{% static 'js/update_ram_speed.js' %}"></script>

{% endblock %}