{% extends 'base.html' %}

{% block title %} Delete RAM {% endblock %}

{% block content %}

    <section class="components-details">

        <h3>Are you sure you want to delete RAM
            <span class="highlight-component">
                {{ ram.brand }} {{ ram.capacity }}GB {{ ram.memory_type }}
            </span>
            ?
        </h3>

        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <a href="{% url 'detail_ram' pk=object.pk %}" class="link-back">Back</a>
            <input type="submit" class="link-delete" value="Delete">

        </form>

    </section>

{% endblock %}

