{% extends 'base.html' %}

{% block title %} Detail RAM {% endblock %}

{% block content %}

    <section class="components-details">

        <h1>RAM Information</h1>

        <p>Brand: {{ ram.brand }}</p>
        <p>Name: {{ ram.memory_type }}</p>
        <p>Speed: {{ ram.speed }}MHz</p>
        <p>Capacity: {{ ram.capacity }}GB</p>

        <a href="{% url 'profile' user.username %}" class="link-back">Back</a>
        <a href="{% url 'edit_ram' pk=object.pk %}" class="link-edit">Edit</a>
        <a href="{% url 'delete_ram' pk=object.pk %}" class="link-delete">Delete</a>

    </section>

{% endblock %}

