{% extends 'base.html' %}
{% load static %}

{% block title %} Edit RAM {% endblock %}

{% block content %}

    <section class="components-details">

        <h1>Edit RAM</h1>

        <section class="ram">

            <div class="ram-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <a href="{% url 'detail_ram' pk=object.pk %}" class="link-back">Back</a>
                    <input type="submit" class="link-edit" value="Edit">
                </form>
            </div>

        </section>
    </section>

    <script src="{% static 'js/update_ram_speed.js' %}"></script>


{% endblock %}

