body.accounts {
    background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.auth {
    width: 400px;
    height: auto;
    margin: 60px auto -45px;
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.3);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.auth input::placeholder {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

.auth input {
    text-align: center;
    font-size: 20px;
}

.auth h2 {
    font-family: Verdana, sans-serif;
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.auth h3 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.auth form button[type="submit"] {
    padding: 10px 20px;
    background-color: #7a96ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.auth form button[type="submit"]:hover {
    background-color: #5063a2;
}

.auth input[type="text"],
.auth input[type="password"] {
    text-align: center;
    margin: 20px;
    display: block;
    width: 81%;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-errors .errorlist {
    font-size: 25px;
    text-align: center;
    color: #a90000;
    list-style-type: none;
}

.auth-errors .errorlist p {
    margin: 12px 0;
    color: #a90000;
}

.profile-css {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

.profile-css h1 {
    font-family: Verdana, sans-serif;
    margin-top: 0;
    text-align: center;
    padding: 10px;
}

.profile-css h3 {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    margin-top: 0;
    text-align: center;
}

.profile-css form {
    margin-top: 20px;
}

.profile-css .form {
    margin-bottom: 10px;
}

.profile-css .form.last-field {
    margin-bottom: 200px;
}

.profile-css label {
    display: block;
    font-weight: bold;
}

.profile-css input[type="text"],
.profile-css input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    height: auto;
}

.profile-css input {
    font-size: 20px;
}

.profile-css .errorlist {
    color: red;
    margin-top: 10px;
}

.profile-css .error {
    margin-bottom: 5px;
}

/* button */
.profile-css .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.profile-css .buttons button[type="submit"] {
    padding: 10px 20px;
    background-color: #37b73b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.profile-css .buttons button[type="submit"]:hover {
    background-color: rgb(77, 213, 81);
}

.profile-css .buttons a {
    padding: 10px 20px;
    background-color: #68b3c0;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.profile-css .buttons a:hover {
    background-color: #7fd0de;
}

.profile-css .buttons button.delete-acc {
    background-color: #a80000;
}

.profile-css .buttons button.delete-acc:hover {
    background-color: #c90000;
}

.profile-details .button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #058dff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.access_denied h1 {
    font-family: Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #9d0000;
}

.access_denied h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: Verdana sans-serif;
}

.profile-start {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

.not-selected h3 {
    font-family: Georgia, sans-serif;
}

.not-chosen-components h2 {
    text-align: center;
    font-family: Gadugi, sans-serif;
    color: #670005;
}

.link-style {
    color: blue;
    text-decoration: none;
}