.cpus {
    margin: 10px;
    text-align: center;
}

.cpus h4 {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    margin-top: -15px;
    color: #052049;
}

.cpus .cpus-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cpus .cpus-logo img {
    width: 300px;
    height: auto;
}

.cpus .text-left {
    color: #004636;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Microsoft Himalaya", sans-serif;
    margin-right: 40px;
}

.cpus .text-right {
    color: #004636;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Microsoft Himalaya", sans-serif;
    margin-left: 40px;
}

.cpus .cpus-content {
    text-align: center;
    margin-top: -410px;
    font-size: 30px;
}

.cpus .cpus-content a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px 30px;
    color: #282869;
    background-color: rgb(136, 165, 202);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    border-radius: 4px;
}

.cpus .cpus-content a:hover {
    background-color: #ffffff;
}

.cpu .class-buttons {
    margin-top: 20px;
}

.cpus .cpus-content p {
    margin-top: 10px;
    color: #500a0a;
    font-size: 35px;
    font-family: Menlo, sans-serif;
    font-weight: bold;
}

.cpus .cpus-content .errorlist {
    color: green;
}

.cpus .cpus-content .error {
    color: green;
}

.cpus .cpus-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: -7px 0 0;
}

.cpus form input[type="text"],
.cpus form input[type="number"],
.cpus form select {
    display: block;
    width: 300px;
    padding: 5px 10px;
    margin-bottom: -9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.cpus form input[type="submit"],
.cpus form button[type="submit"],
.cpus form button[type="reset"],
.cpus form input[type="button"] {
    display: inline-block;
    margin-top: 2px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(22, 107, 222);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.cpus form input[type="button"] {
    background-color: darkred;
}

.cpus form input[type="button"]:hover {
    background-color: #d90000;
}

.cpus form input[type="submit"]:hover,
.cpus form button[type="submit"]:hover,
.cpus form button[type="reset"]:hover {
    background-color: #549aff;
}

.cpus-table {
    margin-top: 20px;
    text-align: center;
}

.cpus-table table {
    width: 100%;
    border-collapse: collapse;
}

.cpus-table th,
.cpus-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.cpus-table th {
    background-color: rgb(136, 165, 202);
    color: #fff;
    font-weight: bold;
}

.cpus-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cpus-form .form-field.has-error .error-message {
    color: #9d0000;
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
}

.cpus-table th a {
    text-decoration: none;
    color: #002293;
}

.cpus .cpus-image {
    text-align: center;
}

.cpus .cpus-image img {
    width: auto;
    height: 500px;
}

.cpus-form-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpus-form-search form {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: -15px;
}

.cpus-form-search input[type="submit"] {
    margin-left: 10px;
}

.cpus-form-search form input[type="text"],
.cpus-form-search form input[type="number"],
.cpus-form-search form select {
    display: block;
    width: 100px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.cpus-form-search label {
    display: block;
    text-align: center;
}

.cpus-form-search form input[type="submit"],
.cpus-form-search form button[type="submit"],
.cpus-form-search form button[type="reset"],
.cpus form input[type="button"] {
    margin-top: 25px;
}

.cpu-button {
    text-align: center;
}

.cpu-button a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(9, 117, 0);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 10px;
}

.cpu-button a:hover {
    background-color: rgb(10, 187, 0);
}

.cpus-build .cpus-form-build {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 0 0;
    font-size: 20px;
}

.cpus-build form input[type="text"],
.cpus-build form input[type="number"],
.cpus-build form select {
    align-items: center;
    display: block;
    width: 300px;
    padding: 5px 10px;
    margin-bottom: -9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.cpus-build form input[type="submit"],
.cpus-build form button[type="submit"],
.cpus-build form button[type="reset"],
.cpus-build .button-back {
    display: inline-block;
    margin-top: 2px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(22, 107, 222);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.cpus-build form input[type="submit"]:hover,
.cpus-build form button[type="submit"]:hover,
.cpus-build form button[type="reset"]:hover,
.cpus-build .button-back:hover {
    background-color: #549aff;
}

.cpus-build .cpu-button {
    text-align: center;
}

.cpus-build .error-message {
    color: #9d0000;
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
}

.cpus .not-found {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.cpus-build .button-back-cpu {
    display: inline-block;
    margin-top: 2px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(20, 112, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.cpus-build .button-back-cpu {
    background-color: #1fa800;
}

.header-title {
    color: #004636;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    margin-right: -20px;
}