.gpu {
    margin: 30px;
    text-align: center;
}

.gpu h4 {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    color: #052049;
    margin-top: -10px;
    text-align: center;
}

.gpu h3 {
    font-size: 20px;
    font-family: Alef, sans-serif;
}

.form-box {
    margin: 20px auto;
    width: 400px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(249, 249, 249, 0.09);
}

.gpus-form {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.gpu .gpu-text {
    margin-top: 50px;
}

.gpu a {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 30px;
    color: #282869;
    background-color: rgb(136, 165, 202);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Consolas', sans-serif;
    border-radius: 4px;
}

.gpu a:hover {
    background-color: #ffffff;
}

.gpu p {
    margin: 20px 0;
    color: #500a0a;
    font-size: 35px;
    font-family: Menlo, sans-serif;
    font-weight: bold;
}

.gpu img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.gpus .gpus-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 0 0;
}

.gpus-table {
    margin-top: 20px;
    text-align: center;
}

.gpus-table table {
    width: 100%;
    border-collapse: collapse;
}

.gpus-table th,
.gpus-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.gpus-table th {
    background-color: rgb(136, 165, 202);
    color: #fff;
    font-weight: bold;
}

.gpus-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.gpus-table th a {
    text-decoration: none;
    color: #002293;
}