@import url('accounts.css');
@import url('home.css');
@import url('header.css');

section.errors h1 {
    text-align: center;
    color: white;
    font-family: "Gentium Book Basic", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.error-image {
    display: flex;
    justify-content: center;
}

.error-image img {
    margin: auto;
    height: 550px
}

body.home {
    background-image: url("/static/images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

body.accounts {
    /*background-image: url("/static/images/bg1.png");*/
    background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
